/* Allgemeine Stile */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
.navbar {
    background-color: #222;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Galerie-Container */
.gallery-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    flex: 1;
}

/* Galerie-Element */
.gallery-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, margin 0.3s ease;
    position: relative;
    display: flex;
    flex-direction: column;
}

/* Hover-Effekt */
.gallery-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* Bild-Styling */
.gallery-item img {
    width: 100%;
    height: 100%;  
    object-fit: contain; 
    background-color: #f4f4f4; 
    display: block;
}

/* Beschreibung unter dem Bild */
.specs {
    padding: 10px;
    font-size: 14px;
    color: #333;
    text-align: left;
    flex: 1;
}

/* Titel-Overlay */
.overlay {
    position: absolute;
    top: 0; 
    width: 100%;
    background: rgba(0, 0, 0, 0.6); 
    color: white;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); 
}

/* Titel-Stil */
.overlay h2 {
    font-size: 18px;
    margin: 0;
    text-transform: uppercase; 
}

/* Footer */
.footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: static; 
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
}

/* Back-Button */
.back-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    position: absolute; 
    top: 20px; 
    left: 20px; 
    z-index: 10; 
}

.back-button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}
main {
    flex: 1; 
    padding-bottom: 20px;
}
